img {
    max-width: 100%;
}

body {
    border-top: 140px solid #cee7d8;
    color: #666;
}

.content {
    border: 2em solid white;
    background: #fff;
    margin-top: -8rem;
    padding: 0;
}


@media only screen and (min-width: 800px) {
    .content {
        padding: 1em 2em;
    }
}

.primary-header {
    transform: rotate(-0.45deg);
    -webkit-transform: rotate(-0.45deg);
}

    .primary-header__title {
        background: red;
        font-size: 3rem;
        letter-spacing: 0.2rem;
        margin: 0 -1rem 0 -1rem;
        padding: 2.5rem;
        position: relative;
        text-transform: uppercase;
        z-index: 10;
    }
        .primary-header__title a {
            color: #fff;
        }
    .primary-header__nav {
        background: #eee;
        font-size: 0.9em;
        margin-bottom: 3rem;
        margin-top: -0.25rem;
        padding: 0.75em 0.5em 0.5em;
        position: relative;
        transform: rotate(0.25deg);
        -webkit-transform: rotate(0.25deg);
        z-index: 5;
    }


.episode {
    margin-bottom : 5em;
    padding-bottom: 2em;
}
    .episode-header__title {
        border-bottom: 4px solid red;
        font-size: 2em;
        padding-bottom: 0.15em;
    }
        .episode-header__title a {
            color: #4477aa;
        }
    .episode-header__meta {
        color: #888;
        font-size: 1em;
        font-style: italic;
        margin-bottom: 1.25em;
    }
    .episode-header__title + .episode-header__meta {
        margin-top: 0;
    }


.primary-footer {
    margin-bottom: 2em;
    margin-top: 3em;
}
